{% extends "base.html" %}

{% block content %}
    <h2>Trades</h2>

    <div class="row">
      <div class="col-md-12">
        <form action="" method="get">
          {{ filter.form.as_p }}
          <input type="submit" />
        </form>
      </div>
    </div>

    <!--Pagination-->
    <div class="container p-4">
      <div class="pagination justify-content-center">
        <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Symbol</th>
          <th>Underlying Symbol</th>
          <th>Executed At</th>
          <th>Groups</th>
          <th>Account Alias</th>
        </tr>
      </thead>

      <tbody>
        {% for trade in object_list %}
            <tr>
              <td><a href="{% url 'ibkr:trade-detail' pk=trade.id %}">{{ trade.id }}</a></td>
              <td>{{ trade.symbol }}</td>
              <td>{{ trade.underlying_symbol }}</td>
              <td>{{ trade.executed_at }}</td>
              <td>{{ trade.group_names }}</td>
              <td>{{ trade.account_id }}</td>
            </tr>
        {% endfor %}
      </tbody>


    </table>
{% endblock %}
