{% extends "base.html" %}

{% load ibkr_tags %}



{% block content %}
  <h2>Group Trades</h2>

  <form method="post" action="{% url 'ibkr:group-detail' pk=object.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
  </form>

  <hr/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Symbol</th>
        <th>Executed At</th>
        <th>Fifo PnL Realized</th>
        <th>(CumSum) Fifo PnL Realized</th>
      </tr>
    </thead>

    <tbody>
      {% for trade in object.trades_all|loadjson %}
          <tr>
            <td><a href="{% url 'ibkr:trade-detail' pk=trade.id %}">{{ trade.id }}</a></td>
            <td>{{ trade.symbol }}</td>
            <td>{{ trade.executed_at_json }}</td>
            <td>{{ trade.fifo_pnl_realized }}</td>
            <td>{{ trade.fifo_pnl_realized_cumsum }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
