{% extends "base.html" %}

{% load humanize %}


{% block content %}
    <h2>Groups</h2>
    <br/>
    <p><a href="{% url 'ibkr:group-create' %}">New Group</a></p>
    <br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>trades_realized_pnl</th>
          <th>Active</th>
        </tr>
      </thead>

      <tbody>
        {% for group in object_list %}
            <tr>
              <td><a href="{% url 'ibkr:group-detail' pk=group.id%}">{{ group.name }}</a></td>
              <td>{{ group.trades_realized_pnl|floatformat:2|intcomma }}</td>
              <td>{{ group.active }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
